---
layout: page
title: Categories
---

{% assign sort_categories = site.categories | sort %}

<div class="my-cat-grid">

{% for category in sort_categories %}

{% assign category_name = category | first %}
{% assign posts_of_category = category | last %}
{% assign first_post = posts_of_category | first %}

{% if category_name == first_post.categories[0] %}

{% assign sub_string="" %}

{% for post in posts_of_category %}
{% assign second_category=post.categories[1] %}

{% if second_category %}
{% unless sub_string contains second_category %}
{% capture sub_string %}{{sub_string}}|{{second_category}}{% endcapture %}
{% endunless %}
{% endif %}

{% endfor %}

{% assign sub_categories=sub_string | split:"|" | uniq | sort %}
{% assign sub_categories_size=sub_categories | size %}
{% assign top_posts_size=site.categories[category_name] | size %}

<a href="/categories/{{category_name | slugify}}/" class="my-cat-card">

<div class="my-cat-icon">
<i class="far fa-folder fa-fw"></i>
</div>

<div class="my-cat-name">
{{category_name}}
</div>

<div class="my-cat-count">
{{top_posts_size}} posts
</div>

</a>

{% endif %}
{% endfor %}

</div>